version: '3'
services:
  redis:
    image: "redis:5.0.4-alpine"

  sim:
    image: "mojaloop-simulator-backend"
    build: ./
    env_file: ./sim-backend.env
    volumes:
       - ./rules/example.json:/opt/app/rules.json
    ports:
      - "3000:3000"
      - "3001:3001"
      - "3003:3003"
    depends_on:
      - scheme-adapter

  scheme-adapter:
    image: "mojaloop/sdk-scheme-adapter:latest"
    env_file: ./scheme-adapter.env
    ports:
      - "3500:3000"
      - "3501:4000"
    depends_on:
      - redis
